@model SiteSerials.Domain.Entities.Serial

<div class="well">
    @*@if (Model.ImageData != null)
    {
        <div class="pull-left" style="margin-right: 10px">
            <img class="img-thumbnail" width="75" height="75"
                 src="@Url.Action("GetImage", "SiteSerials",
                new { Model.SerialId })" />
        </div>
    }*@

    <h3>
        <strong>@Model.Serial_title</strong>
        <span class="pull-right label label-primary">@Model.Rating.ToString("рейтинг #")</span>
    </h3>
    <span class="lead">@Model.SerialDescription</span>
</div>

