@model SiteSerials.Domain.Entities.Favorite

@{
    ViewBag.Title = "Избранное";
}
<h2>Избранное</h2>

@if (Model.FavSerials != null)
{
    foreach (var line in Model.FavSerials)
    {
    <div>
        <div class="well" style="display:inline-block;">
            <span class="lead">@line.Serial_title</span>
            @using (Html.BeginForm("RemoveFromFavorite", "Favorite", line.Id))
            {
                @Html.Hidden("Id", line.Id)
                <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
            }
        </div>
    </div>
    }
}

