@model SiteSerials.Domain.Entities.Favorite

@{
    ViewBag.Title = "Избранное";
}
<h2>Избранное</h2>

@if (Model.FavSerials != null)
{
    foreach (var line in Model.FavSerials)
    {
            @*<td class="text-center">@line.Serial_title</td>*@
            <div class="well">
                <span class="lead">@line.Serial_title</span>
            </div>
    }
}

